<h1>Subscriptions#new</h1>
<p>Find me in app/views/subscriptions/new.html.erb</p>
<%= javascript_include_tag "https://js.paystack.co/v1/paystack.js"%>
<%= form_tag subscriptions_path do %>

  <%= submit_tag "Pay","data-paystack" => "submit"  %>
<% end %>